disnake==2.9.2
disnake[voice]==2.9.2
python-dotenv==1.0.1
requests==2.31.0
openai==1.26.0
azure-cognitiveservices.speech==1.37.0
azure-ai-vision==0.13.0b1
yt-dlp==2024.8.6
flask==3.0.3
qrcode[pil]==7.4.2
elevenlabs==1.6.0